atom-text-editor,
atom-workspace {
  font-family: "Operator Mono";
  font-weight: 400;
  line-height: 1.7;
}

atom-panel.tool-panel {
  font-size: 0.88em;
}

.entity.other.attribute-name {
  font-style: italic;
}

atom-text-editor.editor {
  .syntax--entity.syntax--other.syntax--attribute-name {
    font-style: italic;
  }
}
